* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 32%, 87%);
  color: hsl(0, 32%, 20%);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.container {
  max-width: 900px;
  width: 60%;
  margin: 0 auto;
}

.card {
  margin: 20px auto;
  padding: 20px 50px;
  border: 4px double hsl(0, 32%, 20%);
  background-color: hsl(0, 32%, 92%);
}

.card-mini {
  width: 14%;
  border-style: dashed;
  border-width: 2px;
  padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 32%, 20%);
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

p {
  text-align: justify;
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a.button {
  background-color: hsl(0, 32%, 47%);
  color: hsl(0, 32%, 92%);
  display: inline-block;
  margin: 10px 0;
  padding: 10px 15px;
  box-shadow: 3px 3px 5px hsl(0, 32%, 20%);
  text-transform: uppercase;
  font-size: 0.9em;
  border-radius: 7px;
}

a.button:hover {
  background-color: hsl(0, 32%, 20%);
  box-shadow: 3px 3px 5px hsl(0, 32%, 47%);
  transition: 0.25s all;
}

ul.social-links {
  padding: 0;
}

ul.social-links > li {
  font-size: 1.5em;
  list-style: none;
  display: inline;
  padding: 0 5px;
  color: hsl(0, 32%, 20%);
}

ul.social-links > li:hover {
  color: hsl(0, 32%, 47%);
}

.card-mini h2 {
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 0.5em 0;
}

#profile-pic {
  height: 200px;
  border-radius: 20%;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .container {
    width: 90%;
  }

  .card {
    padding: 10px 50px;
  }

  .card-mini {
    width: 20%;
    padding: 10px 20px;
  }
}

@media (max-width: 600px) {
  .card {
    padding: 10px 30px;
  }

  .card-mini {
    width: 25%;
  }
}
